body{
    #container{
        header {
            padding: 10px;
            background-color: #FFC470;
            width: 100%;
            nav{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: baseline;
                #pageLogo{
                    color: #DD5746;
                    font-size: 1.3rem;
                    font-weight: bold;
                }
                ul{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    li{
                        color: #8B322C;
                        margin: 5px;
                        list-style-type: none;
                        font-size: 1rem;
                        a{
                            color: #8B322C;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
