@import 'header';
@import 'comparisonPage';
@import 'genrePage';
@import 'genresCollection';
@import 'login';
@import 'movieCard';


body{
    margin: 0px auto;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    #container{
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1{
        color: #4793AF;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    h2{
        font-size: 1.1rem;
        text-transform: uppercase;
    }
    h3{
        font-size: 0.9rem;
        text-transform: capitalize;
    }
}